html,
body{
    margin: 0;
    padding:0;
}

body{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #f2f3f5;;

}

#form_article_list{
    display: flex;
    justify-content:flex-start;
}

#form_article_list label{
    text-align: center;
}

#form_article_list .layui-form-item{
    margin-right: 8px;
}





