html,
boddy{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

a{
    text-decoration-line:none;
}

.header{
    margin-top: 20px;
}

.loginAndRegBox{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

form{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    
}

.links{
    position: relative;
}


.links i{
    position: absolute;
    left: 10px;
    top: 10px;
}

.links input{
    padding-left: 30px;
}

.regbtn,
.loginbtn{
    display: flex;
    justify-content: flex-end;
}
.layui-form button{
    width: 100%;
}

.loginAndRegBox > div:first-child{
    padding-top: 16px;
    text-align: center;
}

.link_reg{
    display: none;
}